/*
Theme Name: AvadaC
Description: Primal-State Variante von Avada
Author: Jakob Schweighofer und Sebastian Bonk
Template: Avada
Version: 1.0.2
*/

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-family: Freight-Sans-Black;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
}